---
import List from "../components/List.astro";
import ListItem from "../components/ListItem.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import { Content as EngagementContent } from "../texts/engagement.md";
---

<Layout title="Engagement">
  <Section>
    <EngagementContent />
  </Section>

  <Section title="Selbstverständnis">
    <div class="mb-4">Das Schöpfungsnetzwerk …</div>

    <List>
      <ListItem>
        versteht Schöpfungsbewahrung als „Querschnittaufgabe“ der
        Kirchgemeinden. (besonders bei Entscheidungen zu Flächennutzung, Bau,
        Energie, Mobilität und Beschaffung)
      </ListItem>
      <ListItem>
        verbindet Menschen, die sich in ihren Gemeinden für Schöpfungsbewahrung
        einsetzen.
      </ListItem>
      <ListItem>
        entwickelt Ideen, die das Thema Schöpfungsbewahrung ideell und praktisch
        in die Kirchgemeinden tragen können, und unterstützt deren Umsetzung
        (z.B. Repair-Café, Grüner Hahn, Stromanbieterwechsel, Energieeffizienz,
        Photovoltaik, Mobilität, Lebensmittel…)
      </ListItem>
      <ListItem>
        tritt öffentlich für den Auftrag zur Schöpfungsbewahrung ein (z.B.
        Beteiligung an Klimastreiks, Öffentlichkeitsarbeit)
      </ListItem>
      <ListItem>
        sucht und vermittelt einschlägige Expert*innen und Zugang zu Expertise.
      </ListItem>
      <ListItem>
        pflegt Kontakt / Austausch mit ähnlichen lokalen und. überregionalen
        Initiativen.
      </ListItem>
      <ListItem>
        bietet der Synode bzw. dem KKR Mitarbeit bei der Erstellung von
        Beschlussvorlagen zu einer schöpfungsbewahrenden Praxis an.
      </ListItem>
      <ListItem>veranstaltet Schöpfungsandachten und -gottesdienste.</ListItem>
    </List>
  </Section>
</Layout>
