---
import Layout from "../layouts/Layout.astro";
import { Content as IntroContent } from "../texts/intro.md";
import { Content as HistoryContent } from "../texts/history.md";
import Section from "../components/Section.astro";
import { Image } from "astro:assets";
import gruppe from "../images/gruppe.jpeg";
---

<Layout title="Herzlich Willkommen.">
  <Section>
    <IntroContent />
  </Section>

  <Section title="Hintergrund">
    <div class="flex flex-col lg:flex-row gap-5 items-start">
      <div class="">
        <HistoryContent />
      </div>
      <Image
        densities={[0.5, 1, 2]}
        src={gruppe}
        width={300}
        alt="Gruppenbild"
        class="max-w-64 rounded"
      />
    </div>
  </Section>
</Layout>
