---
import Letter from "../components/icons/Letter.astro";
import User from "../components/icons/User.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kontakt">
  <Section>
    <div class="grid grid-cols-1 sm:flex flex-col gap-6">
      <div class="flex gap-4 items-center">
        <User />
        <div>
          <div>Ökumenisches Schöpfungsnetzwerk Erfurt</div>
          <div>c/o Reglergemeinde Erfurt</div>
          <div>Juri-Gagarin-Ring 103</div>
          <div>99084 Erfurt</div>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <Letter />
        <div>
          <a href="mailto:schoepfungsnetzwerk-erfurt@posteo.de"
            >schoepfungsnetzwerk-erfurt@posteo.de</a
          >
        </div>
      </div>
    </div>
  </Section>
</Layout>
