---
import type { CollectionEntry } from "astro:content";

interface Props {
  event: CollectionEntry<"events">;
}

const { event } = Astro.props;
---

<div class="flex flex-col gap-1">
  <div class="mb-1">
    <div class="text-sm">
      {
        event.data.date.toLocaleDateString("DE", {
          weekday: "long",
          year: "2-digit",
          month: "long",
          day: "numeric",
        })
      }
    </div>
    <div class="font-bold">{event.data.title}</div>
    {
      event.data.location && (
        <div class="text-sm italic">
          {event.data.location}{" "}
          {event.data.time && (
            <span class="text-sm"> um {event.data.time}</span>
          )}
        </div>
      )
    }
  </div>

  <div class="mb-0 text-sm">{event.data.summary}</div>

  {
    event.data.links.length > 0 && (
      <ul class="mb-0 list-none ml-0 text-sm flex flex-col gap-1">
        {event.data.links.map((l) => (
          <li class="mb-1 ml-0">
            <a href={l.url}>{l.name}</a>
          </li>
        ))}
      </ul>
    )
  }
</div>
