---
import ArrowRight from "./icons/ArrowRight.astro";
---

<li>
  <span class="flex items-center gap-4">
    <ArrowRight />

    <span class="inline-block">
      <slot />
    </span></span
  >
</li>
