---
import { Image } from "astro:assets";
import logo from "../images/Logo.png";
---

<section
  class="flex justify-center gap-2 items-center sm:gap-8 flex-col sm:flex-row mb-2 sm:mb-10 mt-4"
>
  <Image
    densities={[1.5, 2]}
    src={logo}
    width={150}
    class="w-12 sm:w-24"
    alt="Logo des Schöpfungsnetzwerkes"
  />
  <div class="flex items-center">
    <h1 class="text-2xl sm:text-4xl mb-0">Schöpfungsnetzwerk Erfurt</h1>
  </div>
</section>
