---
import NavLink from "./NavLink.astro";
---

<nav class="container mx-auto px-4 sm:px-8 max-w-5xl mb-6">
  <ul
    class="list-none flex gap-1 sm:gap-6 font-serif flex-col sm:flex-row text-center sm:text-left ml-0"
  >
    <li>
      <NavLink href="/">Über uns</NavLink>
    </li>
    <li>
      <NavLink href="/engagement/">Engagement</NavLink>
    </li>
    <li>
      <NavLink href="/neuigkeiten/">Neuigkeiten</NavLink>
    </li>
    <li>
      <NavLink href="/weiterfuehrendes/">Weiterführendes</NavLink>
    </li>
    <li>
      <NavLink href="/kontakt/">Kontakt</NavLink>
    </li>
  </ul>
</nav>
