---
interface Props {
  title?: string;
  size?: "s" | "l";
}

const { title = null, size = "l" } = Astro.props;
---

{title && <h3 class={size === "s" ? "text-base" : ""}>{title}</h3>}
<section
  class={`mb-8 bg-gray-100 rounded-md p-5 transition
  shadow-[0px_60px_50px_-75px_rgba(60,100,50,0.4),0px_10px_10px_-10px_rgba(50,120,10,0.1)]
  ring-1 ring-slate-700/[0.05]`}
>
  <slot />
</section>
