@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-700;
    @apply font-sans;
    @apply hyphens-auto;
  }
  h1 {
    @apply font-serif;
    @apply text-xl;
    @apply sm:text-2xl;
    @apply mb-4;
  }
  h2 {
    @apply font-serif;
    @apply text-xl;
    @apply mb-2;
  }
  h3 {
    @apply font-serif;
    @apply text-xl;
    @apply mb-2;
  }
  p {
    @apply mb-4;
    @apply text-base;
    @apply text-justify;
    @apply text-pretty;
    @apply font-sans;
  }
  q {
    @apply text-justify;
    @apply text-pretty;
  }
  a {
    @apply underline;
    @apply underline-offset-8;
    @apply text-green-700;
  }
  a:hover {
    @apply text-gray-900;
  }
  ul {
    @apply text-pretty;
    @apply list-outside;
    @apply list-disc;
    @apply leading-8;
    @apply ml-4;
    @apply mb-4;
  }
  li {
    @apply mb-2;
  }
}
