---
import "../base.css";
import "@fontsource-variable/hedvig-letters-serif";
import "@fontsource/hedvig-letters-sans";
import Navigation from "../components/Navigation.astro";
import Logo from "../components/Logo.astro";
import EventList from "../components/EventList.astro";
import Section from "../components/Section.astro";
import { getCollection } from "astro:content";

const events = await getCollection("events");

const nextEvents = events
  .filter((t) => t.data.date.getTime() + 86400000 > new Date().getTime())
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
  .slice(0, 3);

interface Props {
  title?: string;
}

const { title = null } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Webseite des Schöpfungsnetzwerks Erfurt"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="index,follow" />
    <meta name="theme-color" content="#406e2a" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'; script-src-elem 'unsafe-inline' 'self'; style-src 'unsafe-inline' 'self'"
    />
    <title>Schöpfungsnetzwerk Erfurt</title>
  </head>

  <body>
    <Logo />
    <Navigation />

    <div class="container mx-auto px-4 sm:px-8 max-w-5xl">
      <slot name="before-main" />

      <div class="flex flex-col md:flex-row gap-5">
        <main class="flex-1">
          {title && <h2>{title}</h2>}
          <slot />
        </main>
        <div class="w-full md:max-w-64">
          <Section title="Aktuelles">
            <EventList events={nextEvents} />
          </Section>
        </div>
      </div>
    </div>
  </body>

  <style is:global>
    :root {
      background-color: white;
    }
    @font-face {
      font-family: "HedvigSans";
      src: url("/fonts/Hedvig_Letters_Sans/HedvigLettersSans-Regular.ttf")
        format("truetype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: "HedvigSerif";
      src: url("/fonts/Hedvig_Letters_Serif/HedvigLettersSerif-Regular-VariableFont_opsz.ttf")
        format("truetype");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
  </style>
</html>
