---
import { getCollection } from "astro:content";
import { buildNewsSlug } from "../../utils/slugs";
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import ArrowRight from "../../components/icons/ArrowRight.astro";
import Event from "../../components/Event.astro";

const events = await getCollection("events");

export async function getStaticPaths() {
  const blogEntries = await getCollection("news");
  return blogEntries.map((entry) => ({
    params: {
      slug: buildNewsSlug(entry),
    },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title}`}>
  <div class="mb-6 mt-2 flex gap-2 items-center" slot="before-main">
    <a
      title="Zurück zur Übersicht der Neuigkeiten"
      aria-label="Alle Neuigkeiten"
      href="/neuigkeiten/">Neuigkeiten</a
    >
    <ArrowRight />
    {entry.data.title}
  </div>

  <Section>
    <article class="m-0 md:m-2 lg:m-4 text-pretty min-h-96">
      <Content />

      {
        entry.data.events.length > 0 && (
          <>
            <div class="font-bold mb-4 text-lg">Veranstaltungen</div>
            <div class="flex gap-4">
              {entry.data.events
                .map((ev) => events.find((e) => e.id === ev.id))
                .filter((e) => e !== undefined)
                .map((e) => (
                  <Event event={e} />
                ))}
            </div>
          </>
        )
      }

      <div class="text-sm pt-4 mt-8 border-t border-slate-300">
        <div
          class="flex flex-col md:flex-row gap-4 justify-between items-center"
        >
          <div>
            Veröffentlicht am
            {
              entry.data.pubDate.toLocaleDateString("de", {
                month: "2-digit",
                day: "2-digit",
                year: "numeric",
              })
            }
          </div>

          <div class="text-sm flex items-center gap-2 flex-wrap">
            {
              entry.data.tags.map((t) => (
                <div class="rounded border border-slate-300 text-gray-600 px-1.5 py-0.5">
                  {t}
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </article>
  </Section>
</Layout>
