---
import { getCollection } from "astro:content";
import { buildNewsSlug } from "../../utils/slugs";
import type { GetStaticPathsOptions } from "astro";
import Section from "../../components/Section.astro";
import Layout from "../../layouts/Layout.astro";
import ArrowRight from "../../components/icons/ArrowRight.astro";
import ArrowLeft from "../../components/icons/ArrowLeft.astro";
import Button from "../../components/Button.astro";
import Divider from "../../components/Divider.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const news = await getCollection("news");
  return paginate(
    news.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()),
    { pageSize: 5 }
  );
}

const { page } = Astro.props;
const parsedUrl = new URL(Astro.request.url);

const hasPreviousPage = page.currentPage > 1;
const hasNextPage = page.lastPage > page.currentPage;
const previousPage =
  page.currentPage - 1 === 1
    ? "/neuigkeiten/"
    : `/neuigkeiten/${page.currentPage - 1}/`;
const nextPage = `/neuigkeiten/${page.currentPage + 1}/`;
---

<Layout title="Neuigkeiten">
  <Section>
    <ul class="flex flex-col list-none ml-0">
      {
        page.data.map((entry, i) => {
          const { data } = entry;
          return (
            <li>
              <h2>
                <a
                  title="Ausführliche Neuigkeit"
                  aria-label={`Mehr über ${data.title}`}
                  href={`/neuigkeiten/${buildNewsSlug(entry)}/`}
                >
                  {data.title}
                </a>
              </h2>
              <div class="mb-4 text-sm">
                Veröffentlicht am
                {data.pubDate.toLocaleDateString("de", {
                  month: "2-digit",
                  day: "2-digit",
                  year: "numeric",
                })}
              </div>
              <p>{data.summary}</p>
              <a
                title="Ausführliche Neuigkeit"
                aria-label={`Mehr über ${data.title}`}
                href={`/neuigkeiten/${buildNewsSlug(entry)}/`}
              >
                <Button>Weiterlesen</Button>
              </a>
              {i < page.data.length - 1 && <Divider />}
            </li>
          );
        })
      }
    </ul>

    {
      hasPreviousPage && (
        <link
          slot="links"
          rel="prev"
          href={`${parsedUrl.protocol}//${parsedUrl.host}${previousPage}`}
        />
      )
    }
    {
      hasNextPage && (
        <link
          slot="links"
          rel="next"
          href={`${parsedUrl.protocol}//${parsedUrl.host}${nextPage}`}
        />
      )
    }

    <div class="flex justify-center mt-2">
      <div
        class="flex flex-row items-center justify-between w-full sm:w-auto gap-2 sm:gap-12 px-2 py-3 mt-4"
      >
        {
          hasPreviousPage ? (
            <a
              href={previousPage}
              class="inline-flex items-center text-slate-600 hover:text-black hover:cursor-pointer p-1 hover:bg-gray-200 rounded"
            >
              <ArrowLeft />
              <div class="text-center">Vorherige Seite</div>
            </a>
          ) : (
            <div class="inline-flex items-center justify-start text-slate-500">
              <ArrowLeft />
              <div class="text-center">Vorherige Seite</div>
            </div>
          )
        }
        <div class="text-center">Seite {page.currentPage}</div>
        {
          hasNextPage ? (
            <a
              href={nextPage}
              class="inline-flex items-center text-slate-600 hover:text-black hover:cursor-pointer p-1 hover:bg-gray-200 rounded"
            >
              <div class="text-center">Nächste Seite</div>
              <ArrowRight />
            </a>
          ) : (
            <div class="inline-flex items-center justify-end text-slate-500">
              <div class="text-center">Nächste Seite</div>
              <ArrowRight />
            </div>
          )
        }
      </div>
    </div>
  </Section>
</Layout>
